
body {
	background:#fff;
}


/* index */
.home{
    background:#f5f5f5;
}
.home .top_bg{
    position:relative;
}
.home .top_bg img{
    width:100%;
}
.home .top_code{
    position:relative;
    margin:-55px auto 30px;
    padding:5px 0 15px 0;
    width:92%;
    border-radius:20px;
    text-align:center;
    background:#fff;
    -webkit-box-shadow:0 0 10px 0 rgba(56,31,12,0.1);  
    -moz-box-shadow:0 0 10px 0 rgba(56,31,12,0.1);  
    box-shadow:0 0 10px 0 rgba(56,31,12,0.1);  
}
.home .top{
    padding:0 20px;
    background:#fff;
}
.home .top .myagent{
	position:relative;
    padding:0 10px;
	height:60px;
	line-height:60px;
    font-size:16px;

}
.home .top .myagent .li_l{
    
}
.home .top .myagent .li_r{
    float:right;
    font-weight:bold;
}
.home .top .myagent .agent_add .li_r{
    font-weight:normal;
}
.home .list{
    background:#fff;
    padding:0 20px;
}
.home .list ul{}
.home .list ul li{
    padding-right:30px;
    height:60px;
    line-height:60px;
    border-top:1px solid #f5f5f5;
    background:url("../images/right.png") no-repeat center right;
    background-size:14px;
    

    font-size:16px;
}
.home .list ul li a{
    display:block;
}
.home .list ul li .li_l{

    
}
.home .list ul li .li_r{
    float:right;
    color:#ffdd00;
    font-weight:bold;
}

.home .mycode_title{
	line-height:30px;
	font-size:16px;
    font-weight:bold;
}
.home .mycode{
	line-height:50px;
	font-size:16px;
    font-weight:bold;
}
.home .mycode .code{}
.home .mycode .code i{
	display:inline-block;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	border:1px solid #a0a0a0;
	font-style: normal;	
	margin:0 2px;
}
.home .mycode .copy{
	color:#969696;
    font-weight:normal;
    line-height:100%;
}

.home .tips{
    background:#fff;
	padding:10px 20px;
	color:#9a9a9a;
    font-size:1.2rem;
	line-height:30px;
}

/* 下级分成 */
.profit{
    background:#fff;
}
.profit ul{
	padding-left:10px;
}
.profit ul li{
	position:relative;
	padding:10px 0 10px  60px;
	height:60px;
	border-bottom: 1px solid #efefef;
}
.profit ul li .thumb{
	position:absolute;
	top:10px;
	left:0;
	width:50px;
	height:50px;
	border-radius:50%;
}
.profit ul li .info{
	width:60%;
	line-height:30px;
}
.profit ul li .info .name{
	color:#040404;
	font-size:16px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profit ul li .info .id{
	color:#aaaaaa;
}
.profit ul li .info2{
	position:absolute;
	top:10px;
	right:10px;
	width:100px;
	height:60px;
	line-height:30px;
}
.profit ul li .info2 .icon{
	text-align:center;
}
.profit ul li .coin{
	text-align:center;
}

/* 设置邀请码 */
.setcode{}
.setcode .top{
	height:200px;
	background:url("../images/agent/top_set.png") no-repeat center;
	background-size:auto 200px;
}
.setcode{}
.setcode{}
.setcode{}
.setcode .mycode{
	color:#000;
	line-height:50px;
	padding:0 10px;
	font-size:16px;
	text-align:center;
}
.setcode .mycode .code{
	position:relative;
	display:inline-block;
}
.setcode .mycode .code i{
	display:inline-block;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#ffbd00;
	border:1px solid #bababa;
	font-style: normal;	
	margin:0 2px;
}
.setcode .mycode .code input{
	position:absolute;
	top:0;
	left:0;
	width:auto;
	height:auto;
	opacity: 0;
	z-index:-1;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.setcode .mycode .copy i{
	display:inline-block;
	width:20px;
	height:20px;
	background:url("../images/agent/copy.png") no-repeat center;
	background-size:20px;
	vertical-align: middle;
    margin-top: -3px;
	margin-right:3px;
}
.setcode .tips{
	padding:10px;
	color:#9a9a9a;
	line-height:30px;
}
.setcode .submit{
	width:60%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:16px;
	margin:20px auto 0;
	border-radius:20px;
}