*{
	padding:0;
	margin: 0;
}
*{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);  
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);  
	-o-tap-highlight-color:rgba(0, 0, 0, 0);  
	tap-highlight-color:rgba(0, 0, 0, 0);  
}
body {
	font:14px/1.5 Arial, '\5FAE\8F6F\96C5\9ED1';
	background:#efefef;
}
ul,ol,li { 
	list-style-type:none;
}
img {
	border:none;
	vertical-align:middle;
}
.hide{
	display:none;
}
.main{
	margin-bottom:53px;
	background:#fff;
}
.main .top{
	
}
.main .top img{
	max-width:100%;
	max-height:150px;
}

.list{
	background:#fff;
}
.list:after{
	display:block;
	content:"";
	clear:both;
}
.list ul{
	
}

.list ul li{
	float:left;
	width:33.33%;
	/* height:230px; */
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	margin-right:-1px;
	text-align:center;
	padding-bottom:10px;
}

.list ul li .thumb{
	padding:15px 0;
}
.list ul li .thumb img{
	max-width:70%;
}
.list ul li .name{
	color:#000;
	line-height: 30px;
    font-size: 16px;
}
.list ul li .coin{
	color:#ffbe00;
}
.list ul li .coin i{
	display: inline-block;
    width: 11px;
    height: 11px;
    vertical-align: middle;
	margin:-3px 3px 0 3px;
	background: url(../images/coin.png) no-repeat center;
    background-size: 11px;
}
.list ul li .buy{
	width:60%;
	height:30px;
	margin:10px auto;
	line-height:30px;
	color:#fff;
	background:#ffbe00;
	border-radius:25px;
	
}

.carlist{
	background:#fff;
}
.carlist:after{
	display:block;
	content:"";
	clear:both;
}
.carlist ul{
	
}

.carlist ul li{
	float:left;
	width:33.33%;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	margin-right:-1px;
	padding-bottom:10px;
	text-align:center;
}

.carlist ul li .thumb{
	padding:15px 0;
}
.carlist ul li .thumb img{
	max-width:70%;
}
.carlist ul li .name{
	color:#000;
	line-height: 30px;
    font-size: 16px;
}
.carlist ul li .coin{
	color:#ffbe00;
}
.carlist ul li .coin i{
	display: inline-block;
    width: 11px;
    height: 11px;
    vertical-align: middle;
	margin:-3px 3px 0 3px;
	background: url(../images/coin.png) no-repeat center;
    background-size: 11px;
}
.carlist ul li .set{
	width:60%;
	height:30px;
	margin:10px auto;
	line-height:30px;
	color:#fff;
	background:#ffbe00;
	border-radius:25px;
	
}