body{
    background:#f5f5f5;
}
.list{
    background:#fff;
}
.list ul{}
.list ul li{
    padding:0 20px 0 10px;
    height:60px;
    border-bottom:1px solid #f5f5f5;
}
.list ul li p{
    line-height:30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list ul li .list_l{
    float:left;
    width:60%;
}
.list ul li .list_l p.money{
    color:#646464;
}
.list ul li .list_l p span{
    display:inline-block;
    margin-right:10px;
    width:40px;
    text-align:right;
}

.list ul li .list_r{
    float:right;
    width:40%;
}
.list ul li .list_r p{
    text-align:right;
    color:#969696;
}