body{
    background:#fff;
    font-size: 0.3rem;
}

img.sex {
    height: 0.3rem;
}
img.level{
    height: 0.3rem;
}
.tab{
    padding:0.3rem 0.4rem 0;
    height:0.7rem;
}
.tab ul{}
.tab ul li{
	float:left;
	width:15%;
	height:0.6rem;
	line-height:0.6rem;
	text-align:center;
	font-size:0.24rem;
	color:#969696;
}
.tab ul li.tab_right{
    float:right;
}
.tab ul li .tab_line{
    display:none;
    width:0.2rem;
    height:0.04rem;
    margin:0 auto;
    border-radius:0.02rem;
}
.tab ul li.on{
	color:#323232;
}
.tab ul li.on .tab_line{
    display:block;
}
.list_total{
    padding: 0 0.4rem;
    height: 0.75rem;
    line-height: 0.75rem;
    color: #646464;
    font-size:0.24rem;
}

ul.list{
	padding:0 0.2rem;
}

ul.list .order_bg{
    height:3.2rem;
    background:url('../images/contribute/bj.png') no-repeat center;
    background-size:contain;
}
ul.list li{
	border-bottom:1px solid #eee;
	position:relative;
}
ul.list li:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}
ul.list li .nums{
	float:left;
    width: 0.4rem;
	height: 1.42rem;
	line-height: 1.42rem;
    text-align:center;
    color:#646464;
	font-size:0.3rem;
    font-weight:600;
	margin-right:5px;
}

ul.list li .avatar{
	float:left;
    margin:0 5px;
    height: 1.42rem;
	line-height: 1.42rem;
}

ul.list li .avatar img{
	width:0.8rem;
	height:0.8rem;
	border-radius:50%;
	margin-top:4px;
}

ul.list li .info{
	position:relative;
    padding-top:0.36rem;
}

ul.list li .info .name{
	font-size: 0.28rem;
}
ul.list li .info .name p{
    font-size:0.3rem;
    font-weight:500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.list li .info .contribute{
    position: absolute;
    top: 0.6rem;
    right: 0;
	color:#646464;
    font-size:0.22rem;
}

ul.list li .info .contribute-nums{
	margin-right:5px;
}

ul.list li.order{
    float:left;
    text-align:center;
    border:none;   
}
ul.list li.order .avatar_p{
    position:relative;
}

ul.list li.order .avatar{
	float:none;
    margin:0;
}
ul.list li.order .avatar img{
    vertical-align:bottom;
}
ul.list li.order .avatar span{
    position:absolute;
    bottom: -0.2rem;
    left: 50%;
    margin-left: -0.2rem;
    width:0.4rem;
    height:0.4rem;
}

ul.list li.order .info{
    margin-top:0.2rem;
    padding-top:0;
}
ul.list li.order .info .name p{
    color:#fff;
}
ul.list li.order .info .contribute{
    position: relative;
    top: 0;
    color:#fff;
}

ul.list li.order1{
    width:40%;
}
ul.list li.order1 .avatar img{
    width: 1.2rem;
    height: 1.2rem;
}
ul.list li.order1 .avatar span{
    background:url('../images/contribute/no_1.png') no-repeat center bottom;
    background-size:100%;
}


ul.list li.order2{
    width:30%;
}
ul.list li.order2 .avatar img{
    width: 1rem;
    height: 1rem;
}
ul.list li.order2 .avatar span{
    background:url('../images/contribute/no_2.png') no-repeat center bottom;
    background-size:100%;
}


ul.list li.order3{
    width:30%;
}
ul.list li.order3 .avatar img{
    width: 1rem;
    height: 1rem;
}
ul.list li.order3 .avatar span{
    background:url('../images/contribute/no_3.png') no-repeat center bottom;
    background-size:100%;
}




