
.tab ul li{
    width:50%;
}

div.li_empty .title{
    font-size:0.28rem;
}
div.li_empty .des{
    font-size:0.24rem;
}

/* 靓号 */
.liang .bd_content {
    padding-top:0.3rem;
}

/* 坐骑 */
.car .bd_content ul li .car_coin{
    height:0.75rem;
}