textarea{
    padding:10px;
    width: 100%;
    font-size: 1.4rem;
    margin-top: 8px;
    border: none;
    resize:none;
    caret-color:#ffdd00;
    
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
    -webkit-box-sizing: border-box; /*Safari3.2+*/
    -o-box-sizing: border-box; /*Opera9.6*/
    -ms-box-sizing: border-box; /*IE8*/
    box-sizing: border-box;
}
#btm{  background-color: #F5F5F9;
    width: 100%;
    height: 62px;
    position: fixed;
    bottom: 0;
    left: 0;
}
button{
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 1px;
    width: 92%;
    height: 47px;
    border-radius: 30px;
    outline: none;
    border: 0;
    margin-top: 5px;
    margin-left: 4%;
}
.num{
    color:#969696;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#test{width: 100%;position: relative;}


.thumb_bd{
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 10rem;
    height:10rem;
    text-align: center;
}
.thumb_bd .img-sfz{
    max-width: 100%;
    max-height: 100%;  
}
.thumb_bd .shadd
{
    position:absolute;
    top:0;
	width: 100%;
    height:100%;
	background: rgba(0,0,0,0.4);
	display: none;
}
.thumb_bd .title-upload
{
	width: 100%;
	font-size: 1.2rem;
	color: #fff;
	margin-top: 15%;
	text-align: center;
}
.thumb_bd #progress1
{
	margin-left:10%;
	width:80%;
	margin-top:17%;
	height: 6px;
	border:solid 1px #fff;
	background-color:#ccc;
	border-radius: 20px;
	position:relative;
}
.thumb_bd .progress
{
	width:0;
	height:4px;
	border:1px solid #fff;
	border-radius:20px;
	position:absolute;
	left:0;
	top:0;
	background-color:#fff;
}
