*{
	padding:0;
	margin: 0;
}
*{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);  
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);  
	-o-tap-highlight-color:rgba(0, 0, 0, 0);  
	tap-highlight-color:rgba(0, 0, 0, 0);  
}
body {
	font:14px/1.5 Arial, '\5FAE\8F6F\96C5\9ED1';
	background:#efefef;
}
ul,ol,li { 
	list-style-type:none;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}

img {
	border:none;
	vertical-align:middle;
}
.hide{
	display:none;
}

.layui-layer-content{
	text-align:center;
}
.main{
	margin-bottom:53px;
	background:#efefef;
}

.swiper-container{
	background:#efefef;
}
.swiper-container .swiper-wrapper .swiper-slide{
	height:50px;
	line-height:50px;
	color:#000;
	text-align:center;
}
.swiper-container .swiper-wrapper .swiper-slide.on{
	height:47px;
	line-height:50px;
	color:#ffbf00;
	border-bottom:3px solid #ffbf00;
}

.list{
	background:#fff;
}
.list:after{
	display:block;
	content:"";
	clear:both;
}
.list .list_top{
	height:50px;
	line-height:50px;
	color:#000;
	font-size:16px;
	border-bottom:1px solid #e5e5e5;
	padding: 0 20px;
}
.list .list_top a{
	color:#999;
	float:right;
}
.list ul{
	padding-left:10px;
}

.list ul li{
	position:relative;
	height:50px;
	border-bottom:1px solid #e5e5e5;
	padding:5px 0 5px 50px;
}

.list ul li .thumb{
	position:absolute;
	top:10px;
	left:0;
	width:40px;
	height:40px;
	background:url("../images/liang/liang.png") no-repeat center;
	background-size:40px;
}

.list ul li .info{
	
}
.list ul li .info .name{
	color:#000;
	line-height: 30px;
    font-size: 16px;
}
.list ul li .info .coin{
	color:#999999;
}

.list ul li .buy{
	position:absolute;
	top:15px;
	right:10px;
	width:80px;
	height:30px;
	line-height:30px;
	color:#ffbe00;
	border-radius:25px;
	text-align:center;
	border:1px solid #ffbe00;
}

.tips{}
.tips .title{
	padding: 0 20px;
	height:50px;
	line-height:50px;
	color:#000;
	font-size:16px;
}
.tips .info{
	padding:10px 20px;
	background:#fff;
}
.tips .info p{
	color:#666666;
	line-height:30px;
}


/* 我的靓号 */
.lianglist{
	background:#fff;
}
.lianglist:after{
	display:block;
	content:"";
	clear:both;
}
.lianglist .list_top{
	height:50px;
	line-height:50px;
	color:#000;
	font-size:16px;
	border-bottom:1px solid #e5e5e5;
	padding: 0 20px;
}
.lianglist .list_top a{
	color:#999;
	float:right;
}
.lianglist ul{
	padding-left:10px;
}

.lianglist ul li{
	position:relative;
	height:50px;
	border-bottom:1px solid #e5e5e5;
	padding:5px 0 5px 50px;
}

.lianglist ul li .thumb{
	position:absolute;
	top:10px;
	left:0;
	width:40px;
	height:40px;
	background:url("../images/liang/liang.png") no-repeat center;
	background-size:40px;
}

.lianglist ul li .info{
	
}
.lianglist ul li .info .name{
	color:#000;
	line-height: 30px;
    font-size: 16px;
}
.lianglist ul li .info .coin{
	color:#999999;
}

.lianglist ul li .set{
	position:absolute;
	top:15px;
	right:10px;
	width:80px;
	height:30px;
	line-height:30px;
	color:#ffbe00;
	border-radius:25px;
	text-align:center;
	border:1px solid #ffbe00;
}