<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Parent_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-parent_id" data-rule="required" min="0" data-source="parent/index" class="form-control selectpage" name="row[parent_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_type" data-rule="required" min="0" class="form-control" name="row[post_type]" type="number" value="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_format')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_format" data-rule="required" min="0" class="form-control" name="row[post_format]" type="number" value="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" min="0" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_status" data-rule="required" min="0" class="form-control" name="row[post_status]" type="number" value="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Comment_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-comment_status" data-rule="required" min="0" class="form-control" name="row[comment_status]" type="number" value="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_top')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_top" data-rule="required" min="0" class="form-control" name="row[is_top]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Recommended')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-recommended" data-rule="required" min="0" class="form-control" name="row[recommended]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_hits')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_hits" data-rule="required" min="0" class="form-control" name="row[post_hits]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_favorites')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_favorites" data-rule="required" min="0" class="form-control" name="row[post_favorites]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_like')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_like" data-rule="required" min="0" class="form-control" name="row[post_like]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Comment_count')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-comment_count" data-rule="required" min="0" class="form-control" name="row[comment_count]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" data-rule="required" min="0" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Update_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-update_time" data-rule="required" min="0" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[update_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Published_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-published_time" data-rule="required" min="0" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[published_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Delete_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-delete_time" data-rule="required" min="0" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[delete_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_title" data-rule="required" class="form-control" name="row[post_title]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_keywords')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_keywords" data-rule="required" class="form-control" name="row[post_keywords]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_excerpt')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_excerpt" data-rule="required" class="form-control" name="row[post_excerpt]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_source')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_source" data-rule="required" class="form-control" name="row[post_source]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Thumbnail')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-thumbnail" data-rule="required" class="form-control" name="row[thumbnail]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-post_content" class="form-control editor" rows="5" name="row[post_content]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_content_filtered')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-post_content_filtered" class="form-control " rows="5" name="row[post_content_filtered]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('More')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-more" class="form-control " rows="5" name="row[more]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-type" data-rule="required" class="form-control" name="row[type]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('List_order')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-list_order" data-rule="required" class="form-control" name="row[list_order]" type="number" value="9999">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
