/* 文字 */
.text-main{
	color: #8745FF;
}
.text-main-hover{
	color: #BA7ACE;
}
.text-main-disabled{
	color: #BA7ACE;
}
/* 背景 */
.bg-main{
	background-color: #8745FF;
}
.bg-main-hover{
	background-color: #BA7ACE;
}
.bg-main-disabled{
	background-color: #BA7ACE;
}
/* 边框 */
.border-main{
	border-color: #8745FF!important;
}

.btn-main-plain{
	border-color: #8745FF!important;
	border-width: 1rpx;
	border-style: solid;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	align-items: center;
	justify-content: center;
	color: #8745FF;
	padding-top: 15rpx;
	padding-bottom: 15rpx;
	padding-left: 20rpx;
	padding-right: 20rpx;
	border-radius: 8rpx;
}
/* 行高 */
.line-h{
	line-height: 1.2;
}
/* 分割线 */
.f-divider{
	height: 18rpx;
	background-color: #F5F5F4;
}