body, p, a, span, i, em, strong, img, strong, span, div, h1, h2, h3, h4, h5, h6, section, ul, li, header, footer, nav { color:#9E9D9D;margin: 0;padding: 0;font-weight: normal; }
body { font:normal normal 14px Arial,Helvetica,'微软雅黑','黑体';background-color: #f5f5f5;color: #666;line-height:22px;min-width:320px;max-width: 640px;margin:0 auto;_width:640px !important;}
img { border:0;}
p { text-align: justify;}
strong { color: #F4629C;}
a { text-decoration: none; }
.c:after { clear:both;overflow: hidden;display: block;height: 0;content:'.';}
.to { overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.fl { float: left;}
.fr { float: left;}
.pr { position: relative;}
.pa { position: absolute;}
.none { display: none;}
.blk { display: block;}