body{height: 3000px}
#shape{

	background: url("../images/rocket.png") no-repeat scroll 0 0  transparent;
	display: block;
	height: 250px;
	width: 149px;
	overflow: hidden;
	border-color: red;
	position: fixed;
	margin:-125px 0 0;
	right: 0;
	top:80%;
	z-index: 12;
}
#shape .shapeColor{
	background: url("../images/rocket.png") no-repeat scroll -149px 0;
	display:none; 
    height:250px;
    width: 149px;
    z-index:11;
    overflow: hidden;
    position: absolute;
}

#shape .shapeColor .shapeFly{
	background: url("../images/rocketFly.gif") no-repeat;
	display:none; 
    height:250px;
    width: 149px;
    z-index:10;
    overflow: hidden;
    position: absolute;
}