body{
	margin:0;
	padding:0;
	background:transparent;
	
}


.progressbar {
  text-align: center;
  max-width: 130px; 
	width:30%;
	display: block; 
  background: url("../images/level/100.png"); 
  height: 130px; 
  font-size: 14px; 
  margin-left:20px;
  margin-right:20px;
	margin-top:35px;
  float: left;
  font-family: "微软雅黑";
  font-size: 11px;
	
}
.progressbar .levelbar {
	 margin-top:40px;
}
.progressbar .levelbar .level{
	font-size: 60px;
	line-height:20px;
	
}

.progressbar .levelbar .levelname{
  line-height: 20px;
  font-weight: inherit;	
}

.progressbar-0 {background-position: 0px 0px;}
.progressbar-1 {background-position: -130px 0px;}
.progressbar-2 {background-position: -260px 0px;}
.progressbar-3 {background-position: -390px 0px;}
.progressbar-4 {background-position: -520px 0px;}
.progressbar-5 {background-position: -650px 0px;}
.progressbar-6 {background-position: -780px 0px;}
.progressbar-7 {background-position: -910px 0px;}
.progressbar-8 {background-position: -1040px 0px;}
.progressbar-9 {background-position: -1170px 0px;}
.progressbar-10 {background-position: -1300px 0px;}
.progressbar-11 {background-position: -1430px 0px;}
.progressbar-12 {background-position: -1560px 0px;}
.progressbar-13 {background-position: -1690px 0px;}
.progressbar-14 {background-position: -1820px 0px;}
.progressbar-15 {background-position: -1950px 0px;}
.progressbar-16 {background-position: -2080px 0px;}
.progressbar-17 {background-position: -2210px 0px;}
.progressbar-18 {background-position: -2340px 0px;}
.progressbar-19 {background-position: -2470px 0px;}
.progressbar-20 {background-position: -2600px 0px;}
.progressbar-21 {background-position: -2730px 0px;}
.progressbar-22 {background-position: -2860px 0px;}
.progressbar-23 {background-position: -2990px 0px;}
.progressbar-24 {background-position: -3120px 0px;}
.progressbar-25 {background-position: -3250px 0px;}
.progressbar-26 {background-position: -3380px 0px;}
.progressbar-27 {background-position: -3510px 0px;}
.progressbar-28 {background-position: -3640px 0px;}
.progressbar-29 {background-position: -3770px 0px;}
.progressbar-30 {background-position: -3900px 0px;}
.progressbar-31 {background-position: -4030px 0px;}
.progressbar-32 {background-position: -4160px 0px;}
.progressbar-33 {background-position: -4290px 0px;}
.progressbar-34 {background-position: -4420px 0px;}
.progressbar-35 {background-position: -4550px 0px;}
.progressbar-36 {background-position: -4680px 0px;}
.progressbar-37 {background-position: -4810px 0px;}
.progressbar-38 {background-position: -4940px 0px;}
.progressbar-39 {background-position: -5070px 0px;}
.progressbar-40 {background-position: -5200px 0px;}
.progressbar-41 {background-position: -5330px 0px;}
.progressbar-42 {background-position: -5460px 0px;}
.progressbar-43 {background-position: -5590px 0px;}
.progressbar-44 {background-position: -5720px 0px;}
.progressbar-45 {background-position: -5850px 0px;}
.progressbar-46 {background-position: -5980px 0px;}
.progressbar-47 {background-position: -6110px 0px;}
.progressbar-48 {background-position: -6240px 0px;}
.progressbar-49 {background-position: -6370px 0px;}
.progressbar-50 {background-position: -6500px 0px;}
.progressbar-51 {background-position: -6630px 0px;}
.progressbar-52 {background-position: -6760px 0px;}
.progressbar-53 {background-position: -6890px 0px;}
.progressbar-54 {background-position: -7020px 0px;}
.progressbar-55 {background-position: -7150px 0px;}
.progressbar-56 {background-position: -7280px 0px;}
.progressbar-57 {background-position: -7410px 0px;}
.progressbar-58 {background-position: -7540px 0px;}
.progressbar-59 {background-position: -7670px 0px;}
.progressbar-60 {background-position: -7800px 0px;}
.progressbar-61 {background-position: -7930px 0px;}
.progressbar-62 {background-position: -8060px 0px;}
.progressbar-63 {background-position: -8190px 0px;}
.progressbar-64 {background-position: -8320px 0px;}
.progressbar-65 {background-position: -8450px 0px;}
.progressbar-66 {background-position: -8580px 0px;}
.progressbar-67 {background-position: -8710px 0px;}
.progressbar-68 {background-position: -8840px 0px;}
.progressbar-69 {background-position: -8970px 0px;}
.progressbar-70 {background-position: -9100px 0px;}
.progressbar-71 {background-position: -9230px 0px;}
.progressbar-72 {background-position: -9360px 0px;}
.progressbar-73 {background-position: -9490px 0px;}
.progressbar-74 {background-position: -9620px 0px;}
.progressbar-75 {background-position: -9750px 0px;}
.progressbar-76 {background-position: -9880px 0px;}
.progressbar-77 {background-position: -10010px 0px;}
.progressbar-78 {background-position: -10140px 0px;}
.progressbar-79 {background-position: -10270px 0px;}
.progressbar-80 {background-position: -10400px 0px;}
.progressbar-81 {background-position: -10530px 0px;}
.progressbar-82 {background-position: -10660px 0px;}
.progressbar-83 {background-position: -10790px 0px;}
.progressbar-84 {background-position: -10920px 0px;}
.progressbar-85 {background-position: -11050px 0px;}
.progressbar-86 {background-position: -11180px 0px;}
.progressbar-87 {background-position: -11310px 0px;}
.progressbar-88 {background-position: -11440px 0px;}
.progressbar-89 {background-position: -11570px 0px;}
.progressbar-90 {background-position: -11700px 0px;}
.progressbar-91 {background-position: -11830px 0px;}
.progressbar-92 {background-position: -11960px 0px;}
.progressbar-93 {background-position: -12090px 0px;}
.progressbar-94 {background-position: -12220px 0px;}
.progressbar-95 {background-position: -12350px 0px;}
.progressbar-96 {background-position: -12480px 0px;}
.progressbar-97 {background-position: -12610px 0px;}
.progressbar-98 {background-position: -12740px 0px;}
.progressbar-99 {background-position: -12870px 0px;}
.progressbar-100 {background-position: -13000px 0px;}

.hd{
	height:200px;
	background:#fff;
	
}
.hd .right {
	padding:1px;
	color:#666666;
}
.hd .right .jingya{
	  margin-top:70px;
		line-height:30px;
	
}

.hd .right .jingya .all{
	 color:#66cc33;
}

.hd .right .jingya .cha{
	 color:#00cccc;
}

.bd{
	clear:both;
  background:#cccccc;
	min-height:500px;
	padding:1px 20px;
	
}
.bd h2{
	color:#666666;
	
}

.bd p{
	color:#666666;
	
}