
dy, h1, h2, h3, h4, h5, p,a {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: Arial, '\5FAE\8F6F\96C5\9ED1';
}
body {
	padding:0;
	margin: 0;
	font-family: Arial, '\5FAE\8F6F\96C5\9ED1';
}
h1 {
	font-size: 16px;
    color:#8ee2d3;
	text-align: center;
	padding-bottom:10px;
}
h2 {
	font-size: 16px;
    color:#8ee2d3;
	text-align: left;
	padding-bottom:10px;
}
h3, h5 {
	color: #8ee2d3;
}
h4 {
	color: #8ee2d3;
        text-align:center;
	padding:10px 0 5px;
}
p {
	line-height: 18px;
	color: #000000;
	text-align: left;
}
img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.page_content{
    padding:15px;	
}

.page_list {
	 margin:0;
	 padding:0 10px;
	 border-top:1px solid #eee;
	 background:#fff;

}
.page_list li{
	  list-style:none;
		border-bottom:1px solid #eee;
		line-height:50px;
		padding:0 15px;
		background:url("../images/me_next.png") center right no-repeat;
	
}

.page_list li a{
	   text-decoration:none;
		 color:#000;
		 display:block;
		 font-size:16px;
	
}
.team{
	margin:0 0 10px 0;
	padding:0 10px;
	background:#fff;
	
}

.team .team_hd {
	  list-style:none;
		border-bottom:1px solid #eee;
		line-height:50px;
		padding:0 15px;
		background:url("../images/me_next.png") center right no-repeat;
	
}

.team .team_hd  a{
	   text-decoration:none;
		 color:#000;
		 display:block;
		 font-size:16px;
		 font-weight:bold;
	
}
.team .page_list{
	  padding:0;
	
}

.news_content{
	
	
}
.news_content .news_hd{
	width:100%;
	background:#fff;
	font-weight:bold;
	font-size:18px;
	line-height:50px;
	/*position:fixed;*/
	top:0;
	text-align: center;
	  
}

.news_content .news_hd .news_title{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news_content .news_bd{
	   padding:10px 0px;
	  /* margin:50px 0 0 0;*/
}