.wrapper-box{
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 900px;
    margin-top: -63px;
}

.wrapper-p1{
    margin: 0 auto;
    width: 26%;
    height: 9%;
    margin-top: 130px;
}

.wrapper-p2{
    width: 22%;
    height: 6%;
    margin: 0 auto;
    margin-top: 40px;
}

.wrapper-a{
    border: 3px solid #fff;
    border-radius: 7px;
    display: block;
    width: 235px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
    margin-top: 40px;
    color: #fff;
}

.wrapper-a:hover{
    color: #fff;
}

.wrapper-img{
    width: 46%;
    height: 47%;
    margin: 0 auto;
    margin-top: 50px;
}










