.down{
	height:811px;
	background:url("../images/download/down_bg.png") no-repeat center;
	background-size: cover;
}
.down .container{
	height:811px;
	position:relative;
}
.down .down_info{}
.down .down_info .down_info_btn{
	padding-top: 120px;
}
.down .down_info .down_info_btn a{
	display:block;
	width:199px;
	height:90px;
	padding-left:50px;
	line-height:90px;
	text-align:center;
	color:#fff;
	font-size:22px;
	border:1px solid #fff;
	border-radius:5px;
	margin-bottom:25px;
}
.down .down_info .down_info_btn .down_android{
	background:url("../images/download/android.png") no-repeat 20px center;
}
.down .down_info .down_info_btn .down_ios{
	background:url("../images/download/ios.png") no-repeat 20px center;
}
.down .down_info .down_info_btn a:hover{
	text-decoration:none;
}
.down .down_info .down_info_bottom{}
.down .down_info .down_info_bottom p{
	color:#fff;
	font-size:26px;
}
.down .down_app{
	position: absolute;
    right: 0;
    bottom: 0;
}
.down .down_app img{
	
}
.down .down_bottom{
	position:absolute;
	bottom:30px;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:24px;
	line-height:30px;
}
