/* 主播等级 */
.ICON-anchor-level {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 22px;
	height: 20px;
	vertical-align: middle;
	background-repeat:no-repeat;
	background-size:22px 20px;
}

.ICON-al-0,.ICON-al-37 {
	overflow: hidden;
	width: 0;
}

.ICON-al-1 {
	background-image: url('../images/level_anchor/1.png');
}

.ICON-al-2 {
	background-image: url('../images/level_anchor/2.png');
}

.ICON-al-3 {
	background-image: url('../images/level_anchor/3.png');
}

.ICON-al-4 {
	background-image: url('../images/level_anchor/4.png');
}

.ICON-al-5 {
	background-image: url('../images/level_anchor/5.png');
}

.ICON-al-6 {
	background-image: url('../images/level_anchor/6.png');
}

.ICON-al-7 {
	background-image: url('../images/level_anchor/7.png');
}

.ICON-al-8 {
	background-image: url('../images/level_anchor/8.png');
}

.ICON-al-9 {
	background-image: url('../images/level_anchor/9.png');
}

.ICON-al-10 {
	background-image: url('../images/level_anchor/10.png');
}

.ICON-al-11 {
	background-image: url('../images/level_anchor/11.png');
}

.ICON-al-12 {
	background-image: url('../images/level_anchor/12.png');
}

.ICON-al-13 {
	background-image: url('../images/level_anchor/13.png');
}

.ICON-al-14 {
	background-image: url('../images/level_anchor/14.png');
}

.ICON-al-15 {
	background-image: url('../images/level_anchor/15.png');
}

.ICON-al-16 {
	background-image: url('../images/level_anchor/16.png');
}

.ICON-al-17 {
	background-image: url('../images/level_anchor/17.png');
}

.ICON-al-18 {
	background-image: url('../images/level_anchor/18.png');
}

.ICON-al-19 {
	background-image: url('../images/level_anchor/19.png');
}

.ICON-al-20 {
	background-image: url('../images/level_anchor/20.png');
}

.ICON-al-21 {
	background-position: -62px -800px;
}

.ICON-al-22 {
	background-position: -62px -840px;
}

.ICON-al-23 {
	background-position: -62px -880px;
}

.ICON-al-24 {
	background-position: -62px -920px;
}

.ICON-al-25 {
	background-position: -62px -960px;
}

.ICON-al-26 {
	background-position: -62px -1000px;
}

.ICON-al-27 {
	background-position: -62px -1040px;
}

.ICON-al-28 {
	background-position: -62px -1080px;
}

.ICON-al-29 {
	background-position: -62px -1120px;
}

.ICON-al-30 {
	background-position: -62px -1160px;
}

.ICON-al-31 {
	background-position: -62px -1200px;
}

.ICON-al-32 {
	background-position: -62px -1240px;
}

.ICON-al-33 {
	background-position: -62px -1280px;
}

.ICON-al-34 {
	background-position: -62px -1320px;
}

.ICON-al-35 {
	background-position: -62px -1360px;
}

.ICON-al-36 {
	background-position: -62px -1400px;
}

/*  */
.ICON-medal {
	display: inline-block;
	margin-right: 3px;
	height: 22px;
	vertical-align: middle;
}

.ICON-medal img.medal-img {
	margin: 0;
	width: auto;
	height: 15px;
	vertical-align: top;
}
.ICON-medal.vip{
	height: 35px;
}
.ICON-medal.vip img.medal-img {
	height: 35px;
}


/* 用户等级 */
.ICON-noble-level {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	background-repeat:no-repeat;
	background-size:15px 15px;
}

.ICON-nl-0,.ICON-nl-71 {
	overflow: hidden;
	width: 0;
}

.ICON-nl-1 {
	background-image: url('../images/level/1.png');
}

.ICON-nl-2 {
	background-image: url('../images/level/2.png');
}

.ICON-nl-3 {
	background-image: url('../images/level/3.png');
}

.ICON-nl-4 {
	background-image: url('../images/level/4.png');
}

.ICON-nl-5 {
	background-image: url('../images/level/5.png');
}

.ICON-nl-6 {
	background-image: url('../images/level/6.png');
}

.ICON-nl-7 {
	background-image: url('../images/level/7.png');
}

.ICON-nl-8 {
	background-image: url('../images/level/8.png');
}

.ICON-nl-9 {
	background-image: url('../images/level/9.png');
}

.ICON-nl-10 {
	background-image: url('../images/level/10.png');
}

.ICON-nl-11 {
	background-image: url('../images/level/11.png');
}

.ICON-nl-12 {
	background-image: url('../images/level/12.png');
}

.ICON-nl-13 {
	background-image: url('../images/level/13.png');
}

.ICON-nl-14 {
	background-image: url('../images/level/14.png');
}

.ICON-nl-15 {
	background-image: url('../images/level/15.png');
}

.ICON-nl-16 {
	background-image: url('../images/level/16.png');
}

.ICON-nl-17 {
	background-image: url('../images/level/17.png');
}

.ICON-nl-18 {
	background-image: url('../images/level/18.png');
}

.ICON-nl-19 {
	background-image: url('../images/level/19.png');
}

.ICON-nl-20 {
	background-image: url('../images/level/20.png');
}

.ICON-nl-21 {
	background-position: 0 -840px;
}

.ICON-nl-22 {
	background-position: 0 -880px;
}

.ICON-nl-23 {
	background-position: 0 -920px;
}

.ICON-nl-24 {
	background-position: 0 -960px;
}

.ICON-nl-25 {
	background-position: 0 -1000px;
}

.ICON-nl-26 {
	background-position: 0 -1040px;
}

.ICON-nl-27 {
	background-position: 0 -1080px;
}

.ICON-nl-28 {
	background-position: 0 -1120px;
}

.ICON-nl-29 {
	background-position: 0 -1160px;
}

.ICON-nl-30 {
	background-position: 0 -1200px;
}

.ICON-nl-31 {
	background-position: 0 -1240px;
}

.ICON-nl-32 {
	background-position: 0 -1280px;
}

.ICON-nl-33 {
	background-position: 0 -1320px;
}

.ICON-nl-34 {
	background-position: 0 -1360px;
}

.ICON-nl-35 {
	background-position: 0 -1400px;
}

.ICON-nl-36 {
	background-position: 0 -1440px;
}

.ICON-nl-37 {
	background-position: 0 -1480px;
}

.ICON-nl-38 {
	background-position: 0 -1520px;
}

.ICON-nl-39 {
	background-position: 0 -1560px;
}

.ICON-nl-40 {
	background-position: 0 -1600px;
}

.ICON-nl-41 {
	background-position: 0 -1640px;
}

.ICON-nl-42 {
	background-position: 0 -1680px;
}

.ICON-nl-43 {
	background-position: 0 -1720px;
}

.ICON-nl-44 {
	background-position: 0 -1760px;
}

.ICON-nl-45 {
	background-position: 0 -1800px;
}

.ICON-nl-46 {
	background-position: 0 -1840px;
}

.ICON-nl-47 {
	background-position: 0 -1880px;
}

.ICON-nl-48 {
	background-position: 0 -1920px;
}

.ICON-nl-49 {
	background-position: 0 -1960px;
}

.ICON-nl-50 {
	background-position: 0 -2000px;
}

.ICON-nl-51 {
	background-position: 0 -2040px;
}

.ICON-nl-52 {
	background-position: 0 -2080px;
}

.ICON-nl-53 {
	background-position: 0 -2120px;
}

.ICON-nl-54 {
	background-position: 0 -2160px;
}

.ICON-nl-55 {
	background-position: 0 -2200px;
}

.ICON-nl-56 {
	background-position: 0 -2240px;
}

.ICON-nl-57 {
	background-position: 0 -2280px;
	width: 65px;
}

.ICON-nl-58 {
	background-position: 0 -2320px;
	width: 65px;
}

.ICON-nl-59 {
	background-position: 0 -2360px;
	width: 65px;
}

.ICON-nl-60 {
	background-position: 0 -2400px;
	width: 65px;
}

.ICON-nl-61 {
	background-position: 0 -2440px;
	width: 65px;
}

.ICON-nl-62 {
	background-position: 0 -2480px;
	width: 65px;
}

.ICON-nl-63 {
	background-position: 0 -2520px;
	width: 65px;
}

.ICON-nl-64 {
	background-position: 0 -2560px;
	width: 65px;
}

.ICON-nl-65 {
	background-position: 0 -2600px;
	width: 65px;
}

.ICON-nl-66 {
	background-position: 0 -2640px;
	width: 65px;
}

.ICON-nl-67 {
	background-position: 0 -2680px;
	width: 65px;
}

.ICON-nl-68 {
	background-position: 0 -2720px;
	width: 65px;
}

.ICON-nl-69 {
	background-position: 0 -2760px;
	width: 65px;
}

.ICON-nl-70 {
	background-position: 0 -2800px;
	width: 65px;
}

.ICON-nl-no {
	background: none;
	overflow: hidden;
	width: 0;
}