.footer{
    position: relative;
    width: 100%;
    bottom: 0;
}

.content{
    position: relative;
    width: 100%;
    height: 653px;
    background-color: #ffd946;
}

.div-img{
    background-image: url("../images/index/pro_bg.png");
    background-size: 100% 100%;
    width: 1345px;
    height: 568px;
    position: absolute;
    top: 23px;
}

.qr-code{
    width: 320px;
    height: 120px;
    /* background: #fff; */
    position: absolute;
    top: 33%;
    left: 70%;
}

.qr-img{
    background: #FFF;
    height: 120px;
    width: 120px;
    float: left;
}

.qr-right{
    float: left;
}

.qr-p1{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 7px;
}

.qr-p2{
    margin-left: 25px;
    font-size: 14px;
}

.bottom{
    width: 570px;
    height: 60px;
    position: absolute;
    /* background: #ddd; */
    top: 82%;
    left: 57%;
}

.ab{
    float: left;
    color: #666;
}

.ab-left{
    width: 320px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    float: left;
}

.ab-weibo{
    display: block;
    float: left;
    margin-right: 10px;
}

.ab-weibo span{
    background-image: url("../images/index/weibo.png");
    background-size: 100% 100%;
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.ab-wixin{
    float: left;
    display: block;
    margin-right: 10px;
}

.ab-wixin span{
    background-image: url("../images/index/weixin.png");
    background-size: 100% 100%;
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.ab-qq{
    float: left;
    display: block;
}

.ab-qq span{
    background-image: url("../images/index/qq.png");
    background-size: 100% 100%;
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}


.ab-content{
    width: 290px;
    font-size: 16px;
    color: #666;
    float: left;
}

.ab-live{
    display: block;
    background-image: url("../images/index/pro_a.png");
    background-size: 100% 100%;
    float: right;
    width: 225px;
    margin-top: -30px;
    height: 60px;
}










