<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-type" data-rule="required" class="form-control" name="row[type]" type="number" value="{$row.type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Action')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-action" data-rule="required" class="form-control" name="row[action]" type="number" value="{$row.action|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" data-rule="required" class="form-control" name="row[uid]" type="number" value="{$row.uid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Touid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-touid" data-rule="required" class="form-control" name="row[touid]" type="number" value="{$row.touid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Giftid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-giftid" data-rule="required" class="form-control" name="row[giftid]" type="number" value="{$row.giftid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Giftcount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-giftcount" data-rule="required" class="form-control" name="row[giftcount]" type="number" value="{$row.giftcount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Totalcoin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-totalcoin" data-rule="required" class="form-control" name="row[totalcoin]" type="number" value="{$row.totalcoin|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Showid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-showid" data-rule="required" class="form-control" name="row[showid]" type="number" value="{$row.showid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Addtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[addtime]" type="text" value="{:$row.addtime?datetime($row.addtime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Game_action')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-game_action" data-rule="required" class="form-control" name="row[game_action]" type="number" value="{$row.game_action|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
