<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" data-rule="required" class="form-control" name="row[uid]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Badge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-badge" data-rule="required" class="form-control" size="50" name="row[badge]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-badge" class="btn btn-danger faupload" data-input-id="c-badge" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-badge"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-badge" class="btn btn-primary fachoose" data-input-id="c-badge" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-badge"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-badge"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Apply_pos')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-apply_pos" data-rule="required" class="form-control" name="row[apply_pos]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Apply_side')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-apply_side" data-rule="required" class="form-control" name="row[apply_side]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Briefing')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-briefing" class="form-control " rows="5" name="row[briefing]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Carded')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-carded" data-rule="required" class="form-control" name="row[carded]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fullname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fullname" data-rule="required" class="form-control" name="row[fullname]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Addtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[addtime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-state" data-rule="required" class="form-control" name="row[state]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reason')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-reason" data-rule="required" class="form-control" name="row[reason]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Disable')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-disable" data-rule="required" class="form-control" name="row[disable]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Divide_family')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-divide_family" data-rule="required" class="form-control" name="row[divide_family]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Istip')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-istip" data-rule="required" class="form-control" name="row[istip]" type="number" value="0">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
